body {
  background-color: rgb(238, 200, 193);
  margin: 0 auto;
  text-align: center;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

main {
  margin: 0 auto;
  width: 50vw;
}

section {
  font-size: x-large;
  color: rgb(103, 97, 235);
}
